@import './partials/skills.css';
@import './partials/home.css';
@import './partials/project.css';
@import './partials/contact.css';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}

:root {
	--bg-color: #000000;
	--second-bg-color: #161616;
	--text-color: #fff;
	--main-color: #3c4ffa;
}

html {
	font-size: 62.5%;
	overflow: auto;
}

body {
	background: var(--bg-color);
	font-family: "Poppins", sans-serif;
	color: var(--text-color);
}

html::-webkit-scrollbar {
	width: 0.8rem;
}

html::-webkit-scrollbar-track {
	background: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
	background: var(--main-color);
}

/*HEADER*/

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1.8rem 9%;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	filter: drop-shadow(10px);
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.header .fa-solid {
	display: none;
}

.logo {
	font-size: 3rem;
	color: var(--main-color);
	font-weight: 800;
	cursor: pointer;
	transition: 0.5s ease;
}

.logo:hover {
	transform: scale(1.1);
}

.navbar a {
	font-size: 1.8rem;
	color: var(--text-color);
	margin-left: 4rem;
	font-weight: 500;
	transition: 0.3 ease;
	border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
	color: var(--main-color);
	border-bottom: 3px solid var(--main-color);
}

/*FOOTER*/

.copyright {
	width: 100%;
	text-align: center;
	padding: 25px 0;
	background: var(--second-bg-color);
	font-weight: 300;
	margin-top: 20px;
}